/*body {
	background-color: lightyellow;
}*/


/*section {
	display: flex;
}

*/

img {
	height: 50%;
	width: 50%;
	justify-content: right;
}

div {
	text-align: right;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	display: flex;
	flex-direction: column;
	width: 30%;
}

#age {
	border: 1px grey solid;
	margin: 2px;
}

button {
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	display: flex;
	justify-content: center;
}

h3 {
	text-align: center;
	font-family: 'Playfair Display', serif;
}

