
button {
	display: flex-inline;
	justify-content: center;

	flex-direction: row;
	margin: 10px;
	align-items: baseline;
	font-family: 'Happy Monkey', cursive;
	font-size: 15px;

}

section {
	display: flex;
}

.pet-status {
	justify-content: center;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	display: flex;
	flex-direction: row;
	width: 50%;
	margin: 20px;
}

.pet-img {
	justify-content: center;
	width: 10%;
	height: 40%;
	margin: 20px;
}

form {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

h3, h4 {
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 80px;
}

input {
	width: 30%;
}

.dead-pet {
	width: 100%;
}
